* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-select,
.form-control {
    width: 300px;
}

.container-select p {
    margin-right: 30px;
}

.aggiungi {
    display: flex;
    justify-content: center;
    align-items: center;
}